*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: #19a2ae;
}

.container {
    width: 15%;
    border-radius: 17px;
    margin: 10% auto;
    overflow: hidden;
    background: #fff;
}

.container header img {
    width: 100%;
    height: 140px;
    vertical-align: top;
}
.main {
    text-align: center;
    border-bottom: 1px solid rgba(143, 143, 143, 0.301);
}
.main .foto {
    margin-top: -60px;
    margin-bottom: 25px;
}
.main .foto img {
    border-radius: 50%;
    border: 5px solid #fff;
}
.main h2 {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 600;
    margin-bottom: 10px;
}
.main h2 span {
    opacity: .5;
    font-weight: 500;
}
.main p {
    font-weight: 400;
    opacity: .5;
    font-size: 15px;
    margin-bottom: 20px;
}
.followers {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: hsl(229, 23%, 23%);
}
.followers .number {
    text-align: center;
}
.followers .number h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.followers .number p {
    opacity: .5;
    font-size: 12px;
    font-weight: 400;
}